<<<<<<< HEAD
/* 
    -- Student Number: B00139596
    -- Student Name: Johny Ramos
    -- Course: T054 - Computer System Management
    -- Module: Web Application
    -- Lecturer: Robert Smith 
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    /* CSS RGBA */
	--white-RGBA: rgba(255, 255, 255, 1);
	--black-RGBA: rgba(0, 0, 0, 1);
    --battleship-gray-RGBA: rgb(137, 137, 137, 1);
    --orange-active: #c45500;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Login/Sign up - Navbar */
.formBodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: (--white-RGBA);
    background: url(../images/background/login-signup.png) no-repeat center center /cover;
    backdrop-filter: blur(8px);
}

.formBodySignup {
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.headerBg{
    background: url(../images/tbc/bg-ts-2.jpg) no-repeat center center /cover;
    height: 100vh;
}

@media (max-width: 1080px) {
    .headerBg {
        max-height: 100vh;
        background: url(../images/tbc/bg-ts-2.jpg) no-repeat center center /cover;
    }
}

@media (max-width: 768px) {
    .headerBg {
        max-height: 80vh;
        background: url(../images/tbc/bg-ts-2.jpg) no-repeat center center /cover;
    }
}

@media (max-width: 576px) {
    .headerBg {
        max-height: 60vh;
        background: url(../images/tbc/bg-ts-2.jpg) no-repeat center center /cover;
    }
}

.formBody {
>>>>>>> f354be1a675ec2e2bf51ee30f8998d6f377f9942
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
<<<<<<< HEAD
    background-color: (--white-RGBA);
    background: url(../images/background/loginsignup.jpg) no-repeat center center /cover;
    backdrop-filter: blur(8px);
=======
>>>>>>> f354be1a675ec2e2bf51ee30f8998d6f377f9942
}

.form-container-main {
    position: relative;
    overflow: hidden;
<<<<<<< HEAD
    width: 800px;
    max-width: 100%;
    min-height: 600px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    background-color: rgba(104, 104, 104, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
=======
    width: 900px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    max-width: 100%;
    min-height: 500px;
>>>>>>> f354be1a675ec2e2bf51ee30f8998d6f377f9942
}

.formTxt {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.social-icons{
    margin: 20px 0;
}

.iconSign{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
<<<<<<< HEAD
    border: 1px solid #ffffff;
=======
    border: 1px solid #ccc;
>>>>>>> f354be1a675ec2e2bf51ee30f8998d6f377f9942
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
<<<<<<< HEAD
    transition: 0.3s;
=======
>>>>>>> f354be1a675ec2e2bf51ee30f8998d6f377f9942
}

.formInput{
    background-color: #eee;
    border: none;
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
 }

.form-box {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
<<<<<<< HEAD
    background: transparent;
    backdrop-filter: blur(10px);
}

.form-container {
=======
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.form-container-main.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.form-container-main.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: slide 0.6s;
}

@keyframes slide {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.form-container-main.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.msstoggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #000000, #00b3d7);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.form-container-main.active .msstoggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
>>>>>>> f354be1a675ec2e2bf51ee30f8998d6f377f9942
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
<<<<<<< HEAD
    height: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
}

.serHoverBtn {
    background-image: linear-gradient(var(--black-RGBA),var(--black-RGBA));
    background-size: 0 100%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, .6);
    transition: .4s;
}

.serHoverBtn:hover {
    background-size: 100% 100%;
    border: 1px solid var(--black-RGBA);
    color: var(--white-RGBA);
}

/* Navbar Settings - Section */
#nav-header {
    transition: all .7s;
}

.customer-navHeader {
    padding: 5px 70px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
}

/* Static navbar */
#nav-headerstatic {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
    padding: 5px 70px;
}

.logo {
    width: 50px;
    height: 50px;
}

=======
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.form-container-main.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.form-container-main.active .toggle-right {
    transform: translateX(200%);
}

/* Navbar Settings - Section */
.navBag {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
}

>>>>>>> f354be1a675ec2e2bf51ee30f8998d6f377f9942
.iconNav {
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
<<<<<<< HEAD
}

.loginSign {
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5%;
    margin: 0 5px;
    transition: 0.3s;
}

.drop-menu {
    background: transparent;
    border: 1px solid #ccc;
    backdrop-filter: blur(2px);
    width: 278px;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
}

.list-item {
    background: transparent;
    backdrop-filter: blur(2px); 
    cursor: pointer;
}

.list-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Section #1 */

.firstBg{
    background: url(../images/background/Sections/bg-ts-1.jpg) no-repeat center center /cover;
    height: 120vh;
}

@media (max-width: 1080px) {    
    .firstBg {
        height: 100vh;
        background: url(../images/background/Sections/bg-ts-1.jpg) no-repeat center center /cover;
    }
}

@media (max-width: 768px) {
    .firstBg {
        height: 80vh;
        background: url(../images/background/Sections/bg-ts-1.jpg) no-repeat center center /cover;
    }
}

@media (max-width: 576px) {
    .firstBg {
        height: 60vh;
        background: url(../images/background/Sections/bg-ts-1.jpg) no-repeat center center /cover;
    }
}

.meSec {
    margin-top: 300px;
}

.centImg1 {
    background: url(../images/clothes/clo-ts-1.jpg) no-repeat center center /cover;
    opacity: 0.75;
    transition: 0.3s;
}

.centImg2 {
    background: url(../images/clothes/clo-ts-3.jpg) no-repeat center center /cover;
    opacity: 0.75;
    transition: 0.3s;
}

.centImg1:hover, .centImg2:hover {
    opacity: 1;
}

/* Addresses - Page */

.main-address {
    min-height: 100vh; 
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);

}

.page-active {
    text-decoration: none;
    color: var(--orange-active);
    transition: 0.3s;
}

.breadcrumb-item-link {
    text-decoration: none;
    color: var(--white-RGBA);
    transition: 0.3s;
}

.edit-remove-link {
    text-decoration: none;
    color: var(--white-RGBA);
    transition: 0.3s;
}
 
.breadcrumb-item-link:hover, 
.edit-remove-link:hover {
    text-decoration: underline;
    color: var(--orange-active);
}

.card {
    background: transparent;
    backdrop-filter: blur(2px); 
    border: 3px solid var(--white-RGBA);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.35);
}

.editAddressBtn {
    background-image: linear-gradient(var(--orange-active),var(--orange-active));
    background-size: 0 100%;
    background-repeat: no-repeat;
    border: 1px solid var(--white-RGBA);
    transition: .4s;
    color: var(--white-RGBA);
}

.editAddressBtn:hover {
    background-size: 100% 100%;
    border: 1px solid var(--orange-active);
    color: var(--black-RGBA);
    font-weight: bold;
}

.address-remove {
    background-image: linear-gradient(var(--orange-active),var(--orange-active));
    background-size: 0 100%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, .6);
    transition: .4s;
    color: var(--black-RGBA);
}

.address-remove:hover {
    background-size: 100% 100%;
    border: 1px solid var(--orange-active);
    color: var(--white-RGBA);
    font-weight: bold;
=======
>>>>>>> f354be1a675ec2e2bf51ee30f8998d6f377f9942
}